In [1]:
import pandas as pd

In [61]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\Indian Startup.csv')

In [3]:
df.isnull().sum()

Company/Brand      0
Founded            1
Headquarters       1
Sector             0
What it does       0
Founder/s          4
Investor/s        63
Amount             7
Stage            428
Date               0
dtype: int64

In [4]:
df.shape

(1209, 10)

In [5]:
# mean ,mode,median
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   Headquarters   1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founder/s      1205 non-null   object
 6   Investor/s     1146 non-null   object
 7   Amount         1202 non-null   object
 8   Stage          781 non-null    object
 9   Date           1209 non-null   object
dtypes: float64(1), object(9)
memory usage: 94.6+ KB

In [6]:
df['Founded'].mean()

2016.6556291390727

In [7]:
df['Founded'].median()

2018.0

In [8]:
df['Founded'].mode()

0    2020.0
dtype: float64

In [9]:
df.Founded

0       2015.0
1       2012.0
2       2015.0
3       2018.0
4       2021.0
         ...
1204    2019.0
1205    2020.0
1206    1978.0
1207    2020.0
1208    2018.0
Name: Founded, Length: 1209, dtype: float64

In [12]:
# fillna
df.fillna(value = 'hello hello',inplace = True)

In [13]:
df.isnull().sum()

Company/Brand    0
Founded          0
Headquarters     0
Sector           0
What it does     0
Founder/s        0
Investor/s       0
Amount           0
Stage            0
Date             0
dtype: int64

In [31]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\Indian Startup.csv')

In [17]:
df['Founded'].fillna('a',inplace = True)

In [18]:
df.isnull().sum()

Company/Brand      0
Founded            0
Headquarters       1
Sector             0
What it does       0
Founder/s          4
Investor/s        63
Amount             7
Stage            428
Date               0
dtype: int64

In [24]:
mean_found = df['Founded'].mean()
med_found = df['Founded'].median()
mod_found = df['Founded'].mode()

In [22]:
mod_found

0    2020.0
dtype: object

In [25]:
mean_found

2016.6556291390727

In [26]:
med_found

2018.0

In [33]:
df['Founded'].fillna(med_found,inplace = True)

In [34]:
df['Founded'].isnull().sum()

0

In [32]:
df['Founded'].median()

2018.0

In [35]:
# del -----> 
# dropna

df.columns

Index(['Company/Brand', 'Founded', 'Headquarters', 'Sector', 'What it does',
       'Founder/s', 'Investor/s', 'Amount', 'Stage', 'Date '],
      dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1209 non-null   float64
 2   Headquarters   1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founder/s      1205 non-null   object
 6   Investor/s     1146 non-null   object
 7   Amount         1202 non-null   object
 8   Stage          781 non-null    object
 9   Date           1209 non-null   object
dtypes: float64(1), object(9)
memory usage: 94.6+ KB

In [47]:
df['Stage'].isnull().sum()

428

In [48]:
x = df['Stage'].mode()

In [52]:
 df['Stage'].fillna(x[0],inplace = True)

In [53]:
df['Stage']

0            Series B
1                Seed
2            Series B
3                Seed
4            Series A
            ...
1204    Pre-series A1
1205             Seed
1206             Seed
1207         Pre-seed
1208     Pre-series A
Name: Stage, Length: 1209, dtype: object

In [51]:
x.mode()

0    Seed
dtype: object

In [54]:
# dropna-----
df.columns

Index(['Company/Brand', 'Founded', 'Headquarters', 'Sector', 'What it does',
       'Founder/s', 'Investor/s', 'Amount', 'Stage', 'Date '],
      dtype='object')

In [55]:
df.shape

(1209, 10)

In [57]:
df.dropna(axis = 1)

,Company/Brand,Sector,What it does,Stage,Date
0,CollegeDekho,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Series B,Dec-2021
1,BOX8,Food & Beverages,India's Largest Desi Meals Brand,Seed,Dec-2021
2,Simpl,Consumer Services,Simpl empowers merchants to build trusted rela...,Series B,Dec-2021
3,8i Ventures,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Seed,Dec-2021
4,PayGlocal,Financial Services,PayGlocal is a FinTech solving for global paym...,Series A,Dec-2021
...,...,...,...,...,...
1204,HobSpace,EdTech,HobSpace is a platform for extra-curricular ac...,Pre-series A1,Jan-2021
1205,DcodeAI,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,Seed,Jan-2021
1206,Biocon Biologics,BioTechnology,Biocon is a fully integrated pure play biosimi...,Seed,Jan-2021
1207,KiranaKart,E-commerce,A better model for instant grocery delivery in...,Pre-seed,Jan-2021
1208,Meddo,Healthcare,Meddo is an end-to-end medical services provider,Pre-series A,Jan-2021

In [60]:
df['Amount'].dropna(axis = 0)

0       $35,000,000
1       $40,000,000
2       $40,000,000
3       $50,000,000
4        $4,900,000
           ...
1204       $100,000
1205       $500,000
1206    $70,000,000
1207       $720,000
1208     $3,000,000
Name: Amount, Length: 1202, dtype: object

In [63]:
# join
# append
# merge
# concate
# groupby
# replace

df['Amount'].isnull().sum()

7

In [66]:
df['Amount'].dropna(axis = 0,inplace=True)

In [67]:
df['Amount'].isnull().sum()

7