In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Satyam/Downloads/CAR DETAILS FROM CAR DEKHO.csv')

In [3]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [4]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [5]:
# 1 find the name of the car which is less driven than 20k km.
# 2.find the name of the car which is driven more than 50k km .
# 3. which type of fuel having highest selling price.
# 4. which transmission have lowest km driven and find its selling price.
# 5. In which year the number of car sold is max.
# 6. IN which year the number of car sold is min.
# 7. What is the max selling price of a car in year 2010.
# 8. What is the min selling price of the car in year 2007 and also find the 
# transmission and the owner.
# 9. Which type of owner car is sold max.
# 10. Which type of transmission car is sold max as well as min.
# 11. Find the avg selling price of the car in year 2007.
# 12. Find the max. & the min selling price of the car in year 2014.

In [6]:
# 1 find the name of the car which is less driven than 20k km.

df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [13]:
df[df['km_driven']<20000]['name'].value_counts()

Hyundai Grand i10 1.2 Kappa Magna AT         13
Renault Duster 85PS Diesel RxL               12
Maruti Swift ZXI BSIV                        12
Hyundai Grand i10 Magna AT                   11
Maruti Ertiga VXI                            11
                                             ..
Toyota Yaris G                                1
Maruti Vitara Brezza ZDi Plus AMT             1
Hyundai Grand i10 1.2 Kappa Sportz Option     1
Hyundai Elite i20 Magna Plus BSIV             1
Ford Endeavour 2.2 Titanium AT 4X2            1
Name: name, Length: 290, dtype: int64

In [14]:
df[df['km_driven']>50000]['name'].value_counts()

Maruti Swift Dzire VDI                            35
Maruti Alto LXi                                   32
Maruti Alto LX                                    29
Maruti Swift VDI BSIV                             26
Maruti Ritz VDi                                   20
                                                  ..
Maruti Alto 800 LX                                 1
Mahindra Bolero Power Plus Plus Non AC BSIV PS     1
Hyundai Verna CRDi SX ABS                          1
Tata Indigo LS BSII                                1
Hyundai i20 Magna 1.4 CRDi                         1
Name: name, Length: 980, dtype: int64

In [15]:
# 3. which type of fuel having highest selling price.

df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [16]:
df['selling_price'].max()

8900000

In [19]:
df[df['selling_price'] == df['selling_price'].max()]['fuel']

3872    Petrol
Name: fuel, dtype: object

In [24]:
# 4. which transmission have lowest km driven and find its selling price.
df[df['km_driven'] == df['km_driven'].min()][['transmission','selling_price','name']]

     transmission  selling_price                name
1312       Manual         250000  Mahindra Quanto C6

In [25]:
# 5. In which year the number of car sold is max.
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [28]:
df['year'].unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992], dtype=int64)

In [35]:
x = df['name'].value_counts()

In [36]:
x

Maruti Swift Dzire VDI                     69
Maruti Alto 800 LXI                        59
Maruti Alto LXi                            47
Maruti Alto LX                             35
Hyundai EON Era Plus                       35
                                           ..
Hyundai Verna Transform CRDi VGT SX ABS     1
Maruti S-Presso VXI Plus                    1
Toyota Etios Liva 1.2 VX                    1
Toyota Yaris G                              1
Hyundai i20 Magna 1.4 CRDi                  1
Name: name, Length: 1491, dtype: int64

In [45]:
df[df['year'] == 2010]['selling_price'].max()

4200000

In [61]:
x = df[df['year'] == 2007][['transmission','owner','selling_price']].

In [62]:
x['selling_price'].min()

45000